body {
  background-color: #f2f2f2;
}

h1 {
  padding: 20px;
}

#navbar {
  background-color: #4CAF50;
  overflow: hidden;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

a {
  padding: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul a {
  display: block;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
}

ul a:hover {
  background-color: #ddd;
  color: black;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

form {
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.formbtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.formbtn:hover {
  background-color: #3e8e41;
}
