/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  a {
    color: #4285f4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Login Form Styles */
  form {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  form div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 0;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="password"] {
    width: 70%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 5px 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #357ae8;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 16px;
  }
  
  /* Authenticated User Styles */
  p.logged-in-message {
    font-size: 18px;
    text-align: center;
  }
  
  a.logout-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #4285f4;
    transition: all 0.3s ease;
  }
  
  a.logout-link:hover {
    text-decoration: underline;
  }
  