body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
a {
    color: #007bff;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  



  
  