{% load static %}
<!-- router.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <title>Homepage</title>
</head>
<body>
<h1>Welcome {{user.username}}</h1>
<ul>

    {% if request.user.is_authenticated %}
    <div>
        <div id="navbar">
            <a href="{% url 'my_profile' %}">My Profile</a> </br>
            <a href="{% url 'logout' %}">Log out</a>
        </div>
    </div>
    {% else %}
    <div>
        <a href="{% url 'registration' %}">Sign up</a> </br>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if isTeacher %}
        <div>
            <h2>My quizzes</h2>
            <a href="/createQuiz">Create Quiz!</a>
        </div>
        {% else %}
        <div>
            <h2>Availabe quizzes</h2>
        </div>
        {% endif %}
        {% for quiz in quizzes %}
            <a href="/quiz/{{quiz.quiz_id}}">{{quiz.topic}}</a></br>
        {% endfor %}
        {% if isTeacher %}
        <div>
            <h2>Results of Students:</h2>
        </div>
        {% for x in quizzes %}
            <a href="/teacher_results/{{x.quiz_id}}">{{x.topic}}</a></br>
        {% endfor %}
        {% endif %}
    {% endif %} 
    

</ul>
</body>
</html>