<!-- router.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
<h1>Welcome {{user.username}}</h1>
<ul>
    {% if request.user.is_authenticated %}
    <div>
        <div id="navbar">
            <a href="{% url 'my_profile' %}">My Profile</a>
            <a href="{% url 'logout' %}">Log out</a>
        </div>
    </div>
    {% else %}
    <div>
        <a href="{% url 'registration' %}">Sign up</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if isTeacher %}
        <div>
            <h2>My quizzes</h2>
            <a href="/createQuiz">Create Quiz!</a>
        </div>
        {% else %}
        <div>
            <h2>Availabe quizzes</h2>
        </div>
        {% endif %}
        {% for quiz in quizzes %}
            <a href="/quiz/{{quiz.quiz_id}}">{{quiz.topic}}</a>
        {% endfor %}
    {% endif %} 
    
</ul>
</body>
</html>