{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}" type="text/css">
</head>
<body>
    {% block content %}
    <a href="{% url 'index' %}">Home</a>
    {% csrf_token %}
    <h2>My Profile</h2>
    <p>Username: {{ request.user.username }}</p>
    <p>Email: {{ request.user.email }}</p>
{% endblock %}
</body>
</html>
